<ng-template #viewCourse let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="viewCourse">{{modalTitle}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container">
      <formio [form]="form" [submission]="submission"></formio>

    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Close</button>
  </div>
</ng-template>




<div class="card">
  <div class="card-header">
    <i class="fa fa-align-justify"></i>  All Courses
  </div>
  <div class="card-body">
    <table class="table table-bordered table-striped table-sm">
      <thead>
    <tr>
      <th ><h4>Name</h4></th>
      <th ><h4>Duration</h4></th>
      <th ><h4>Fees</h4></th>
      <th ><h4>Intake</h4></th>
    </tr>
  </thead>
  <tbody *ngIf="courses">

    <tr  *ngFor="let c of courses | paginate: { itemsPerPage: 10, currentPage: currentPageNumber, totalItems: courses.count }">

      <th >{{c.name}}</th>
      <th >{{c.duration}}</th>

      <th >{{c.fees}}</th>
      <th >{{c.intake}}</th>
      <td>
        <button  (click)="open(viewCourse, c)" class="btn btn-pill btn-success">
         Show
        </button>
      </td>
    </tr>
  </tbody>
</table>
<nav>
  <ul class="pagination">
      <pagination-controls (pageChange)="currentPageNumber= $event"></pagination-controls>
  </ul>
</nav>
</div>
</div>


