<ng-template #viewUniversity let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="viewUniversity">{{modalTitle}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container">
      <formio [form]="form" [submission]="submission"></formio>

    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Close</button>
  </div>
</ng-template>


<div class="card">
  <div class="card-header">
    <div class="btn-group" dropdown>
      <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
              aria-controls="dropdown-basic">
        Choose Uni <span class="caret"></span>
      </button>
      <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
          role="menu" aria-labelledby="button-basic" >
          <div *ngFor="let c of children">
            <li role="menuitem"><a class="dropdown-item"  (click)="open(viewUniversity, c)">{{c.name}}</a></li>
          </div>

      </ul>
    </div>
  </div>
  <div class="card-body">
    <table class="table table-bordered table-striped table-sm">
      <thead>
        <tr>
          <th><h4>Name</h4></th>
          <th><h4>Global Rank</h4></th>
          <th></th>
        </tr>
      </thead>
      <tbody *ngFor="let u of universities">
        <tr>
          <th >{{u.name}}</th>
          <th >{{u.globalRank}}</th>
          <td>
            <button  (click)="open(viewUniversity, u)" class="btn btn-pill btn-success">
             Show
            </button>


          </td>
        </tr>
      </tbody>
    </table>
    <nav>
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">Prev</a></li>
        <li class="page-item active">
          <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">4</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
      </ul>
    </nav>
  </div>
</div>


