


<ng-template #viewUniversity let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="viewUniversity">{{modalTitle}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container">
      <formio [form]="form" [submission]="submission"></formio>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Close</button>
  </div>
</ng-template>


<div class="card">
  <div class="card-header">
    <div *ngIf="children" class="btn-group" dropdown>
      <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
              aria-controls="dropdown-basic">
        Choose Uni <span class="caret"></span>
      </button>
      <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
          role="menu" aria-labelledby="button-basic" >
          <div *ngFor="let c of children">
            <li role="menuitem"><a class="dropdown-item"  (click)="open(viewUniversity, c)">{{c.name}}</a></li>
          </div>
      </ul>
    </div>
  </div>
  <div class="card-body">
    <table class="table table-bordered table-striped table-sm">
      <thead>
        <tr>
          <th><h4>Name</h4></th>
          <th><h4>Global Rank</h4></th>
          <th></th>
        </tr>
      </thead>

      <div *ngIf="loaderService.isLoading | async" class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
      <tbody *ngIf="universities">
        <tr *ngFor="let u of universities | paginate: { itemsPerPage: 10, currentPage: currentPageNumber, totalItems: universities.count }">
          <th >{{u.name}}</th>
          <th >{{u.globalRank}}</th>
          <td>
            <button  (click)="open(viewUniversity, u)" class="btn btn-pill btn-success">
              Show
            </button>


          </td>
        </tr>
      </tbody>

    </table>
    <nav>
      <ul class="pagination">
        <pagination-controls (pageChange)="currentPageNumber= $event"></pagination-controls>

      </ul>
    </nav>
  </div>
</div>


